<h1>Open Imagination Story Writing</h1>
<p>Anime storylines feel stupid? Characters not believeable? Author relying too much on stereotypes?</p>
<p>Before you even have a right to complain, go prove you can do better! Go follow a story (or start one) and write it yourself or with others. See how much better you can do!</p>
