<h1>Open Imagination Story Writing</h1>
<p>Anime storylines feel stupid? Characters now believeable? Author relying too much on stereotypes?</p>
<p>Before you even have a right to complain, go prove you can do better!</p>
<p></p>
